.contents
  = render 'shared/side-bar'
  .main-content
    .main-head
      .main-header
        %h2.main-header__group
          = @group.name
        %ul.main-header__member
          Member :
        %li.main-header__name
          - @group.users.each do |user|
            = user.name
      .edit-btn
        = link_to 'edit', edit_group_path(@group), class: "edit-btn__link"
    .messages
      = render @messages
    .form
      = form_for [@group, @message], html: {class: 'input'} do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
